.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 2rem;
}

.page {
    max-width: 720px;
    margin: 5rem auto 0;

    h1 {
        font-size: 3.0rem;
        font-weight: 900;
    }

    time {
        display: block;
        font-size: 1rem;
        color: var(--gray-300);
        margin-top: 1rem;
    }

    .pageDescription {
        margin-top: 1rem;
        line-height: 2rem;
        font-size: 1.125rem;
        color: var(--grey-100);
    }
}

.button {
    background-color: black;
    border: 0;
    padding: 1rem;

    margin-right: 1rem;
}

.companyLogo {
    width: 100px;
    margin-top: 2rem;
}

.pageLinks {
    display: block;
    padding: 1.5rem;
    width: 100%;
    background-color: white;
    text-align: left;
    color: black;
    border-radius: 5px;
    box-shadow: 2px 2px #eee;
    margin-bottom: 15px;

    a {
        text-decoration: none;
        color: black;
    }
}

.mobile {
    height: 700px;
    width: 350px;
    border: 15px solid var(--black);
    border-radius: 50px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    margin-left: 10rem;
}

.mobileMiniPreview {
    height: 250px;
    width: 180px;
    border: 0.5rem solid var(--black);
    border-radius: 25px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.pageAvatar {
    border-radius: 50%;
    width: 150px;
}

.pageImage {
    width: 150px;
}

.pageBio {
    text-align: center;
}

.links {
    width: 100%;
}

.socialLinks {
    width: 25%;
}

.linksMiniPreview {
    width: 100%;
}

.link {
    display: block;
    margin-bottom: 10px;
    max-width: 360px;
    text-align: center;
    padding: 1.5rem;
}

.linkMiniPreview {
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
    padding: 0.5rem;
}

.trashIcon {
    color: red;
    font-size: 2rem;
    cursor: pointer;
}

.deleteCalendar {
    color: red;
    font-size: 2rem;
    cursor: pointer;
}

.deleteImage {
    color: red;
    font-size: 2rem;
    cursor: pointer;
}

.pageImagePreview {
    width: 200px;
}

.linkImagePreview {
    width: 100px;
}

.linkImageMobile {
    width: 46px;
    height: 46px;
    margin-right: 1rem;
}

.datePeriodOutOfRange {
    color: red;
}

.eyeIconEnabled {
    color: greenyellow;
    font-size: 2rem;
    cursor: pointer;
}

.eyeIconDisabled {
    color: red;
    font-size: 2rem;
    cursor: pointer;
}

.defaultPreviewStyle {
    color: #012d3f;
    padding: 1rem;
    font-weight: bold;
}

.miniPreviewName {
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
    padding: 0.5rem;
}

.buttonSelect {
    display: block;
    text-align: center;
    min-width: 5rem;
    padding: 0.5rem;
}

.themeName {
    text-align: center;
    padding: 0.1rem;
}

.addNewTheme {
    text-align: center;
    padding: 0.1rem;
}
