.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
}

.pages {
    max-width: 720px;
    margin: 5rem auto 0;

    a {
        display: block;

        & + a {
            margin-top: 2rem;
            padding-top: 2rem;
            border-top: 1px solid var(--gray-700);
        }

        time {
            font-size: 1rem;
            display: flex;
            align-items: center;
            color: var(--gray-300);
        }

        strong {
            display: block;
            font-size: 1.5rem;
            margin-top: 1rem;
            line-height: 2rem;
            transition: color 0.2s;
        }

        p {
            color: var(--gray-300);
            margin-top: 0.5rem;
            line-height: 1.625rem;
        }

        &:hover strong {
            color: var(--yellow-500);
        }
    }
}

.buttonNewPage {
    max-width: 720px;
    margin-top: 2rem;

    a {
        color: var(--white);
    }
}

.button {
    background-color: black;
    color: var(--white);
    border: 0;
    padding: 0.5rem;

    display: block;

    margin-right: 1rem;
}

.formGroup {
    & + & {
        margin-top: 1rem !important;
    }
}

.userAvatar {
    border-radius: 50%;
    width: 300px;
}

.pagesContainer {
    max-width: 720px;
    margin: 3rem auto 0;
}

.pageList {
    display: block;
    padding: 1.5rem;
    width: 100%;
    background-color: white;
    text-align: left;
    color: black;
    border-radius: 5px;
    box-shadow: 2px 2px #eee;
    margin-bottom: 15px;

    a {
        text-decoration: none;
        color: black;
    }
}

.selected_image_preview {
    width: 200px;
}

.trashIcon {
    color: red;
    font-size: 2rem;
    cursor: pointer;
}

.editIcon {
    color: aquamarine;
    font-size: 2rem;
    cursor: pointer;
}

.socialNetwork {
    max-width: 720px;
    margin: 5rem auto 0;

    .socialNetworkDescription {
        line-height: 2rem;
        font-size: 1.125rem;
        color: var(--grey-100);
    }
}

.userSocialNetworks {
    display: block;
    padding: 1.5rem;
    width: 100%;
    background-color: white;
    text-align: left;
    color: black;
    border-radius: 5px;
    box-shadow: 2px 2px #eee;
    margin-bottom: 15px;

    a {
        text-decoration: none;
        color: black;
    }
}